
/* NAV BAR */
.banner{
    width: 100%;
    height: 100%;
    background-color: #015613;
    background-size: cover;
    background-position: center;
}
.logo {
    height: 100px;
    width: auto;
}
.navbar{
    background-color: #898989;
    width: 80%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 8px 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
}
.navbar ul li::after{ 
    content:'';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition:  0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}

*{
    font-family:"poppins",sans-serif;
}

