body {
    padding: 30px;
    background-color: #015613; /* Dark green background */
    color: #fff; /* White text to contrast against the dark background */
    /* font-family: 'Arial', sans-serif; */
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #f8f9fa; /* Lighter color for heading */
}

h2 {
    color: #313131;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

button#logout {
    color: white;
    background-color: #8fa8fb; /* Light blue button */
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

button#logout:hover {
    background-color: #b0c4de;
    color: #333;
}

.content {
    background-color: #f8f9fa;
    color: #333;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.content div {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

span {
    font-weight: 600;
    color: #015613;
}

a {
    color: #015613;
    /* font-weight: bold; */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}