/* Center the h2, with padding at the top and bottom */
.title_div{
    margin: auto;
    width: 85%;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
}

.title {
    /* display: flex; */
    text-align: center;
    padding-top: 40px;
    /* padding-bottom: 0px; */
}

/* Style for the button */
.collapsible {
    background-color: #2980b9;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    font-size: 18px;
    margin-bottom: 10px; /* Add space between collapsible elements */
    border-radius: 8px; /* Add rounded corners */
}

/* Style for when the button is active */
.collapsible.active {
    background-color: #005488;
}

/* Default symbol for the button (plus sign) */
.collapsible:before {
    content: '+';
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

/* When the button is active, change symbol to minus */
.collapsible.active:before {
    content: '-';
}

/* Collapsible content - hidden by default */
.content {
    padding: 15px;
    display: none;
    overflow: hidden;
    background-color: #d2face;
    color: rgb(0, 0, 0);
    border-radius: 8px; /* Round the corners of the content box */
    margin-bottom: 15px; /* Add space below the content */
}

body{
    height: 100%;
    width: 100%;
    background: #015613;
}

.event_title{
    width: 85%;
    margin: auto;
}

.center{
    padding-left: 25%;
    /* align-items: center;
    align-content: center; */
}